*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    background-color: #D6EFD8;
}

h1, h2, h3, h4, h5, h6, label{
    font-family: Lora;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.5em;
}

textarea{
    font-family: Montserrat;
}